h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 50%;
}

#container {
    display: flex;
    justify-content: center;
    
}

